:root {
  /**
   * The default theme CSS variables that can be overridden:
   * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
   * -------------------------------------------------------------------------- */

  // Color Base
  --vp-c-brand: #4282fd;
  --vp-c-brand-light: #5F95FE;

  // hero name
  --vp-home-hero-name-color: var(--vp-c-brand);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(326deg, #5280F5, #39C0EE);
  // hero image bg
  --vp-home-hero-image-background-image: -webkit-linear-gradient(-45deg, #5280F520 80%, #C9EBFF20 50%);
  --vp-home-hero-image-filter: blur(72px);

  // Colors Theme
  --vp-c-border: #eaecef;
  --vp-c-border-dark: #dfe2e5;

  // Component: Custom Block
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand);

  // Component: Button
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);

  /**
   * We added, not in vitepress
   * -------------------------------------------------------------------------- */

  // background colors
  --vp-c-bg-icon: #4282fd10;

  // layout vars, blog and pricing page are using it
  --homepage-width: 960px;

  /**
   * Change hero size
   * Hide hero image, step 1 we just hide it.
  .main{
    align-self: center;
  }
  .image-container{
    width: 500px;
    height: 500px;
    transform: translate(16px, 0px);
    .image-src{
      max-width: 500px;
      max-height: 500px;
    }
  }
  @media (max-width:960px) {
    .container{
      row-gap: 50px;
    }
    .image-container{
      transform: translate(0px, 0px);
      .image-src{
        max-width: 420px;
        max-height: 450px;
      }
    }
  }
  // End hero size
   * -------------------------------------------------------------------------- */

  /**
   * Change main name, tagline, actions alignment
   * -------------------------------------------------------------------------- */
  .main {
    .name,
    .text,
    .tagline {
      max-width: fit-content;
      margin: auto;
    }
    .actions {
      justify-content: center;
    }
  }
  /* End change main */

}

html.dark {
  // brand colors
  --vp-c-brand: #4282fd;
  --vp-c-brand-light: #5F95FE;

  // border colors
  --vp-c-border: #3e4c5a;
  --vp-c-border-dark: #34404c;
}
