:root {
  /**
   * The default theme CSS variables that can be overridden:
   * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
   * -------------------------------------------------------------------------- */

  // Color Base
  --vp-c-brand: #4282fd;
  --vp-c-brand-light: #5F95FE;

  // hero name
  --vp-home-hero-name-color: var(--vp-c-text-1);
  //--vp-home-hero-name-color: transparent;
  //--vp-home-hero-name-background: -webkit-linear-gradient(326deg, #5280F5, #39C0EE);

  // hero image bg
  --vp-home-hero-image-background-image: -webkit-linear-gradient(-45deg, #5280F520 80%, #C9EBFF20 50%);
  --vp-home-hero-image-filter: blur(72px);

  // Colors Theme
  --vp-c-border: #eaecef;
  --vp-c-border-dark: #dfe2e5;

  // Component: Button
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);

  /**
   * We added, not in vitepress
   * -------------------------------------------------------------------------- */

  // background colors
  --vp-c-bg-icon: #4282fd10;

  // layout vars, blog and pricing page are using it
  --homepage-width: 960px;

  --mcc-bg: #fff;
  --mcc-title: #2c2f31;
  --mcc-content: #5e6266;

  /**
   * Change hero size
   * Hide hero image, step 1 we just hide it.
  .main{
    align-self: center;
  }
  .image-container{
    width: 500px;
    height: 500px;
    transform: translate(16px, 0px);
    .image-src{
      max-width: 500px;
      max-height: 500px;
    }
  }
  @media (max-width:960px) {
    .container{
      row-gap: 50px;
    }
    .image-container{
      transform: translate(0px, 0px);
      .image-src{
        max-width: 420px;
        max-height: 450px;
      }
    }
  }
  // End hero size
   * -------------------------------------------------------------------------- */

  /**
   * Change main name, tagline, actions alignment
   * -------------------------------------------------------------------------- */
  .main {

    .text,
    .tagline {
      max-width: 75%;
    }

    .name {
      font-size: 6vw;
      line-height: 1.04;
      max-width: 75%;
    }
  }

  @media (min-width:1600px) {
    .main {
      .name {
        font-size: 4.8rem;
      }
    }
  }

  @media (max-width:960px) {
    .main {
      .name {
        font-size: 9vw;
        max-width: 100%;
        line-height: 1.2;
      }
    }
  }

  /* End change main */

}

html.dark {
  // brand colors
  --vp-c-brand: #4282fd;
  --vp-c-brand-light: #5F95FE;

  // border colors
  --vp-c-border: #3e4c5a;
  --vp-c-border-dark: #34404c;

  --mcc-bg: #242C31;
  --mcc-title: #e1e4e7;
  --mcc-content: #aebbc5;
}

// custom component styles

.VPNavBar.has-sidebar {

  >.container {

    >.title {
      border-bottom: 1px solid var(--vp-c-divider);
      background-color: var(--vp-c-bg);

      >.VPNavBarTitle.has-sidebar {
        >.title {
          border-bottom: none;
        }
      }
    }

    >.content {
      .curtain {
        border-top: 1px solid var(--vp-c-divider);
      }
    }
  }
}

.VPSidebar {
  background-color: var(--vp-c-bg) !important;
  border-right: 1px solid var(--vp-c-divider) !important;
}

#cc-main {
  --cc-bg: var(--mcc-bg); //var(--vp-c-bg);
  /** Change font **/
  // --cc-font-family: Roboto;

  /** Change button primary color to black **/
  --cc-btn-primary-bg: #4282fd;
  --cc-btn-primary-border-color: none;
  --cc-btn-primary-hover-bg: #5F95FE;
  // --cc-btn-primary-hover-border-color: #444444;

  /** Also make toggles the same color as the button **/
  // --cc-toggle-on-bg: var(--cc-btn-primary-bg);

  /** Make the buttons a bit rounder **/
  // --cc-btn-border-radius: 10px;

  --cc-separator-border-color: var(--vp-c-divider);

  .cm__title {
    color: var(--mcc-title);
  }

  .cm__desc {
    color: var(--mcc-content) !important;
  }
}